@model Students.Common.Models.ResearchWorker
@using Students.Interfaces
@using System.Globalization


@inject ISharedResourcesService sharedResourcesService

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");

    ViewData["Title"] = "Details";
}

<h1>@sharedResourcesService.GetString("Details", cultureInfo)</h1>

<div>
    <h4>ResearchWorker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @sharedResourcesService.GetString("Name", cultureInfo)
        </dt>
        <dd class = "col-sm-10">
            @sharedResourcesService.GetString("Name", cultureInfo)
        </dd>
        <dt class = "col-sm-2">
            @sharedResourcesService.GetString("Age", cultureInfo)
        </dt>
        <dd class = "col-sm-10">
            @sharedResourcesService.GetString("Age", cultureInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">@sharedResourcesService.GetString("BackToList", cultureInfo)</a>
</div>
